#Ignore thumbnails created by Windows
Thumbs.db

#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
_[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_[Rr]elease*/
packages/
/_build/collect/
/_build/version.h
/_build/versionInfo.cs
/_build/tlbImp.bat
/Explorer/WebApplication/Properties/AssemblyInfo.cs
/Explorer/WebApplication/archives/*
/Explorer/WebApplication/logs/*
/Explorer/WebApplication/ressources/*
*.sdf
*.opensdf
Interop.*
!APIs/dotnet/extlibs/Ookii.Dialogs/Interop/*
*.ipch
*_i.h
*.tlb
/parser/_SampleData
/APIs/dotnet/DsnPlus.MQ/_SampleData
/APIs/dotnet/DsnPlus.MQ/packages.7z
/DsnPlusApi/DsnPlus.DsnPlusApi.Web/_SampleData
/DsnPlusApi/Setup/DATA
/DsnPlusApi/Setup/Output
.vs/
/Explorer/_Test/*
/Parser/HtmlDragDrop/_[pP]ublished/*
/Parser/LinksToRubriqueHelpCodeGen/Data/*.htm
/Parser/LinksToRubriqueHelpCodeGen/Data/new/*.htm
/Parser/LinksToRubriqueHelpCodeGen/Data/new/dsn-cahier-technique-2021.1/*.png
/Parser/LinksToRubriqueHelpCodeGen/Data/new/dsn-cahier-technique-2021.1/*.jpg
/Parser/LinksToRubriqueHelpCodeGen/Data/new/dsn-cahier-technique-2021.1/*.gif
/Parser/LinksToRubriqueHelpCodeGen/Data/codes-dsn-institutions-de-prevoyance/*.htm
*.crproj
/APIs/cpp/extlibs/DsObjectPicker/ObjectPickerHelper2/ObjectPickerHelper2.h
dlldata.c
/APIs/dotnet/DsnPlus.Web.Security/TestResults/*
